apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: postgres-transaction
  name: postgres-transaction
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
