apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: postgres-user
  name: postgres-user
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
