apiVersion: v1
data:
  promtail-config.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      - job_name: docker
        static_configs:
          - targets:
              - localhost
            labels:
              job: docker
              __path__: /var/lib/docker/containers/*/*.log
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: promtail
  name: promtail-cm0
